@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* background-image: radial-gradient(
    circle farthest-side at 50% 100%,rgba(1, 9, 18, 0),
    rgba(255, 255, 255, 0.839) 36%,
    rgba(1, 14, 29, 0.6) 55%,
    rgb(0, 255, 60)); */
  background-color: rgb(34, 34, 34);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* example: override wallet button style */
.wallet-adapter-button:not([disabled]):hover {
  background-color: #1fbd44;
}


.dice-container {
  display: flex;
  justify-content: center;
  align-items: center; /* Change to flex-start */
  height: 60vh;
}

.dice {
  width: 150px;
  height: 150px;
  background-color: white;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  cursor: pointer;
  border-radius: 15px; /* Adjust the border-radius to your liking */
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
}
.dice:hover{
  border-color: #1fbd44;
}

.dot {
  width: 25px;
  height: 25px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.input-container {
  position: absolute;
  bottom: -5vh;
  display: flex;
  align-items: flex-start; /* Change to flex-start */
  justify-content: center;
  width: 100%;
  height: 40vh;
  color: rgb(255, 255, 255);
  padding: 20px;
  box-sizing: border-box;
}

.input {
  width: 100px;
  padding: 10px;
  /* margin-left: 65px; */
  color: rgb(0, 0, 0);
  background-color: white;
  border: 2px solid transparent; /* Add a transparent border initially */
  transition: border-color 0.3s ease; /* Add a transition for border-color */
}

.input:hover {
  border-color: #1fbd44; /* Change the border color on hover */
}

.instruction-text {
  font-size: 16px;
  color: rgb(255, 255, 255); /* Text color */
  margin-bottom: 25px;
  font-weight: bold; /* Make the text bold */
}
/* BetInput.css */
.constant-amounts {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}



.constant-amounts button {
  background-color: #ffffff; /* Button background color */
  color: rgb(0, 0, 0); /* Button text color */
  border: none;
  margin: 0;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.constant-amounts button:hover {
  background-color: #1fbd44; /* Button background color on hover */
}

.notification {
  padding: 10px;
  color: white;
  text-align: center;
  transition: background-color 2s ease; /* Add a transition for background-color */
  
}

.notification.win {
  background-color: green;
}

.notification.lose {
  background-color: rgb(79, 79, 79);
}

.loading-animation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* Adjust the height to your preference */
}

.loading-spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #3498db; /* Loading spinner color */
  border-radius: 50%;
  width: 40px; /* Spinner size */
  height: 40px; /* Spinner size */
  animation: spin 1s linear infinite; /* Animation properties */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}